.App {
  text-align: center;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 23px;
}

.ticktactitle {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 30px;
  font-weight: 400;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 38px;
  font-weight: bold;
  line-height: 34px;
  height: 84px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 84px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.gameTictactoe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.resetButton {
  padding: 14px;
  width: 50%;
  border-radius: 0px !important;
  border-width: 0;
  cursor: pointer;
  background-color: black;
  color: white;
  margin-left: 50%;
}

.game-info {
  margin-left: 20px;
}

/* ------------------------------------------------------------------------- */
/* snake -game */

.snakeGame {
  font-family: "Josefin Sans", sans-serif;
}

.snakescore {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 400;
}

.snake-app {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
}

.outerBorder {
  display: inline-block;
  outline: 2px solid rgb(134, 154, 189);
}

.board {
  outline: 2px solid rgb(134, 154, 189);
}

.row {
  height: 36px;
}

.cell {
  width: 36px;
  height: 36px;
  /* outline: 1px solid rgb(134, 154, 189); */
  border-radius: 10px;
  display: inline-block;
}

.snake-cell {
  background-color: green;
}

.food-cell {
  background-color: red;
}

.reversing-cell {
  background-color: blueviolet;
}
